.THIS.slds-text{
    border:2px solid #999;
}

.THIS .lgc-bg {
    background-color: #969595;
}

.THIS .lgc-bg-inverse {
    background-color: #006994;
}
.THIS .sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #006994;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.THIS .sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.THIS .sidebar a:hover {
  color: #f1f1f1;
}

.THIS .sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 16px;
  margin-left: 50px;
}

.THIS .openbtn {
  font-size: 10px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.THIS .openbtn:hover {
  background-color: #444;
}