.THIS {
}

.THIS .myFieldset {
    display: block;    
    border:1.5px solid #999;
	border-radius:8px;
	box-shadow:5px 5px 10px #999;
    
}
 
.THIS .myLegend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    float:left;
	margin-top:-20px;
    font-size:16px;
    color: #5679C0;
}