.THIS.img.avatar {
    			border:2px solid #999;
                width: 20%;
                border-radius: 30%;
                }

.THIS .slds-input{
    border: 2.5px solid #999;
}

.THIS .slds-select{
    border: 2.5px solid #999;
}

.THIS .Employeeid{
    default: hidden;
}