.THIS .myFieldset {
    display: block;    
    border:1.5px solid #999;
	border-radius:8px;
	box-shadow:5px 5px 10px #999;    
}

.THIS .myLegend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    float:left;
	margin-top:-20px;
    font-size:16px;
    color: #5679C0;
}
.THIS .slds-text-title_bold{
    font-size:16px;
    color: white;

}
.THIS .slds-dueling-list__options{
    height: 100px;
}
.THIS .slds-box
{
    box-shadow:6px 11px 41px -28px #a99de7;
    background:white;    
}